![Growdev](https://www.growdev.com.br/assets/images/logo_growdev.png)

![Formação Engenharia de Dados](https://d335luupugsy2.cloudfront.net/cms/files/524558/1707226566/$occu5m8t1op)

Este material tem como objetivo incentivar a prática dos conteúdos estudados até o momento, e a pesquisa. Tenha em consideração que o exercício foi pensado para incentivar a prática dos conteúdos estudados até então, porém aprender a pesquisar faz parte do processo de aprendizagem.

Fique tranquilo, faça os exercícios com calma, e boa prática!

#Orientações:

 - Faça uma copia deste arquivo
 - Após concluir os exercicios, suba seu exercicio para o GitHub e compartilhe o link no **google** Classroom


Utilize o dataset contido nesse [link](https://www.kaggle.com/datasets/upadorprofzs/testes), e responda as questões abaixo.

O dataset contém dados estatísticos do IBGE relativos à escolaridade, renda entre outros campos avaliados pela  PNAD (Pesquisa Nacional por Amostra de Domicílios).

Os dados podem representar informações relevantes e reveladoras sobre a distribuição de renda e possivelmente alguns indicadores sobre tais situações encontradas a partir dos dados.

#Exercícios

In [1]:
import pandas as pd

In [3]:
arquivo_csv = 'C:\engenhariadedadosGrowdev\Tarefa6dados.csv'
df = pd.read_csv(arquivo_csv)
df.head()

   UF  Sexo  Idade  Cor  Anos de Estudo  Renda    Altura
0  11     0     23    8              12    800  1.603808
1  11     1     23    2              12   1150  1.739790
2  11     1     35    8              15    880  1.760444
3  11     0     46    2               6   3500  1.783158
4  11     1     47    8               9    150  1.690631

In [23]:
# Verificando se existe algum valor nulo na renda para calcular as médias
df['Renda'].isnull().sum()

np.int64(0)

Qual a quantidade de pessoas nas seguintes faixas etárias
- 20 anos ou menos
- 21 a 35 anos
- 36 a 50 anos
- 51 a 65 anos
- maiores de 65 anos

In [5]:
faixa_etaria = [
    (df['Idade'] <= 20, '20 anos ou menos'),
    ((df['Idade'] > 20) & (df['Idade'] <= 35), '21 a 35 anos'),
    ((df['Idade'] > 35) & (df['Idade'] <= 50), '36 a 50 anos'),
    ((df['Idade'] > 50) & (df['Idade'] <= 65), '51 a 65 anos'),
    (df['Idade'] > 65, 'Maiores de 65 anos')
]


quant_faixa_etaria = {faixa: df[cond].shape[0] for cond, faixa in faixa_etaria}
quant_faixa_etaria

{'20 anos ou menos': 764,
 '21 a 35 anos': 20654,
 '36 a 50 anos': 31770,
 '51 a 65 anos': 20006,
 'Maiores de 65 anos': 3646}

Qual é a média de escolaridade em cada faixa etária?

In [15]:
# códigos de anos de estudo para agrupar
df['Anos de Estudo Categoria'] = df['Anos de Estudo'].replace({
    1: 'Sem instrução e menos de 1 ano',
    2: '1 ano',
    3: '2 anos',
    4: '3 anos',
    5: '4 anos',
    6: '5 anos',
    7: '6 anos',
    8: '7 anos',
    9: '8 anos',
    10: '9 anos',
    11: '10 anos',
    12: '11 anos',
    13: '12 anos',
    14: '13 anos',
    15: '14 anos',
    16: '15 anos ou mais',
    17: 'Não determinados',
})


media_escolaridade_faixa = {faixa: df[cond]['Anos de Estudo'].mean() for cond, faixa in faixa_etaria}

for faixa, media in media_escolaridade_faixa.items():
    print(f"Faixa etária: {faixa} - Média de escolaridade: {media:.2f} anos")

Faixa etária: 20 anos ou menos - Média de escolaridade: 9.70 anos
Faixa etária: 21 a 35 anos - Média de escolaridade: 10.81 anos
Faixa etária: 36 a 50 anos - Média de escolaridade: 9.76 anos
Faixa etária: 51 a 65 anos - Média de escolaridade: 8.27 anos
Faixa etária: Maiores de 65 anos - Média de escolaridade: 5.84 anos

Qual a UF que concentra a maior renda?

In [52]:
# Incluir os nomes dos UFs pelos códigos fornecidos na pesquisa do IBGE
uf_cod = {
    11: 'Rondônia', 12: 'Acre', 13: 'Amazonas', 14: 'Roraima', 15: 'Pará',
    16: 'Amapá', 17: 'Tocantins', 21: 'Maranhão', 22: 'Piauí', 23: 'Ceará',
    24: 'Rio Grande do Norte', 25: 'Paraíba', 26: 'Pernambuco', 27: 'Alagoas',
    28: 'Sergipe', 29: 'Bahia', 31: 'Minas Gerais', 32: 'Espírito Santo',
    33: 'Rio de Janeiro', 35: 'São Paulo', 41: 'Paraná', 42: 'Santa Catarina',
    43: 'Rio Grande do Sul', 50: 'Mato Grosso do Sul', 51: 'Mato Grosso',
    52: 'Goiás', 53: 'Distrito Federal'
}

# Substituir os códigos numéricos pelos dos estados para melhor visualização.
df['UF Nome'] = df['UF'].replace(uf_cod) 

renda_media_por_uf = df.groupby('UF Nome')['Renda'].mean()

uf_maior_renda = renda_media_por_uf.idxmax()
maior_renda_media = renda_media_por_uf.max()

print(f"UF com maior renda: {uf_maior_renda}, Renda média: {maior_renda_media:.2f}")

UF com maior renda: Distrito Federal, Renda média: 4241.95

Qual a renda média de pessoas pretas e brancas de homens e mulheres?

In [53]:
# Assumindo que  o código de 'Cor' 2 é para brancos e 'Cor' 4 é para pretos
# E que 'Sexo' 0 é masculino e 1 é feminino

renda_media_por_grupo = df.groupby(['Cor', 'Sexo'])['Renda'].mean().unstack()

renda_media_pretos_brancos = renda_media_por_grupo.loc[[2, 4]]

print(renda_media_pretos_brancos)

Sexo            0           1
Cor
2     2925.744435  2109.86675
4     1603.861687  1134.59640

Qual a renda média concentrada em cada faixa etária?

In [54]:
renda_media_faixa = {faixa: df[cond]['Renda'].mean() for cond, faixa in faixa_etaria}

for faixa, renda in renda_media_faixa.items():
    print(f"Faixa etária: {faixa} - Renda média: R$ {renda:.2f}")

Faixa etária: 20 anos ou menos - Renda média: R$ 985.35
Faixa etária: 21 a 35 anos - Renda média: R$ 1748.29
Faixa etária: 36 a 50 anos - Renda média: R$ 2113.76
Faixa etária: 51 a 65 anos - Renda média: R$ 2150.20
Faixa etária: Maiores de 65 anos - Renda média: R$ 1831.23

In [55]:
df.head()

,UF,Sexo,Idade,Cor,Anos de Estudo,Renda,Altura,Anos de Estudo Categoria,UF Nome
0,11,0,23,8,12,800,1.603808,11 anos,Rondônia
1,11,1,23,2,12,1150,1.739790,11 anos,Rondônia
2,11,1,35,8,15,880,1.760444,14 anos,Rondônia
3,11,0,46,2,6,3500,1.783158,5 anos,Rondônia
4,11,1,47,8,9,150,1.690631,8 anos,Rondônia

Qual a renda média nas faixas de anos de estudo abaixo?
- 2 anos ou menos
- 3 a 6 anos
- 7 a 10 anos
- 10 a 12 anos
- 13 anos ou mais

In [38]:
faixa_ano_estudo = [
    (df['Anos de Estudo'].isin([1, 2, 3]), '2 anos ou menos'),
    (df['Anos de Estudo'].isin([4, 5, 6]), '3 a 6 anos'),
    (df['Anos de Estudo'].isin([7, 8, 9, 10]), '7 a 10 anos'),
    (df['Anos de Estudo'].isin([11, 12]), '10 a 12 anos'),
    (df['Anos de Estudo'].isin([13, 14, 15, 16, 17]), '13 anos ou mais')
]

renda_media_anos_estudo = {}

for cond, faixa in faixa_ano_estudo:
    renda_media = df[cond]['Renda'].mean() 
    renda_media_anos_estudo[faixa] = renda_media 

for faixa, media in renda_media_anos_estudo.items():
    print(f"{faixa}: Renda Média = {media:.2f}")

2 anos ou menos: Renda Média = 768.58
3 a 6 anos: Renda Média = 1126.11
7 a 10 anos: Renda Média = 1370.89
10 a 12 anos: Renda Média = 1809.78
13 anos ou mais: Renda Média = 4434.41

Qual a escolaridade entre indígenas, para homens e mulheres?

In [39]:
 #código de 'Cor' para indígenas é 0 de acordo com a tabela do IBGE
escolaridade_indigenas = df[df['Cor'] == 0].groupby('Sexo')['Anos de Estudo'].mean()

print(escolaridade_indigenas)

Sexo
0    7.875000
1    9.108911
Name: Anos de Estudo, dtype: float64

Qual a média de anos de estudo entre brancos e negros?

In [40]:
anos_estudo_brancos_pretos = df[df['Cor'].isin([2, 4])].groupby('Cor')['Anos de Estudo'].mean()

print(anos_estudo_brancos_pretos)

Cor
2    10.490303
4     8.861518
Name: Anos de Estudo, dtype: float64

Qual a média de anos de estudo e de renda para mulheres brancas, e para mulheres negras?

In [41]:
mulheres_brancas_pretas = df[(df['Sexo'] == 1) & (df['Cor'].isin([2, 4]))]

media_estudo_renda_mulheres = mulheres_brancas_pretas.groupby('Cor')[['Anos de Estudo', 'Renda']].mean()

print(media_estudo_renda_mulheres)

     Anos de Estudo       Renda
Cor
2         11.297578  2109.86675
4          9.522326  1134.59640

 Qual é a UF com maior média de escolaridade e qual a UF com maior média de renda?

In [57]:
escolaridade_media_por_uf = df.groupby('UF Nome')['Anos de Estudo'].mean()
uf_maior_escolaridade = escolaridade_media_por_uf.idxmax()

renda_media_por_uf = df.groupby('UF Nome')['Renda'].mean()
uf_maior_renda = renda_media_por_uf.idxmax()

print(f"UF com maior média de escolaridade: {uf_maior_escolaridade}")
print(f"UF com maior média de renda: {uf_maior_renda}")

UF com maior média de escolaridade: Distrito Federal
UF com maior média de renda: Distrito Federal

Elabore você uma pergunta sobre a base de dados e escreva o código para responder a pergunta.

In [59]:
#Qual a média de altura por UF?

altura_media_por_uf = df.groupby('UF Nome')['Altura'].mean()

uf_maior_altura = altura_media_por_uf.idxmax()
maior_altura_media = altura_media_por_uf.max()

print(f"Média de altura por UF:\n{altura_media_por_uf}")
print(f"UF com maior média de altura: {uf_maior_altura}, Altura média: {maior_altura_media:.2f} cm")

Média de altura por UF:
UF Nome
Acre                   1.699113
Alagoas                1.693907
Amapá                  1.697891
Amazonas               1.699454
Bahia                  1.699282
Ceará                  1.700317
Distrito Federal       1.700896
Espírito Santo         1.701513
Goiás                  1.699623
Maranhão               1.699708
Mato Grosso            1.698339
Mato Grosso do Sul     1.700184
Minas Gerais           1.699988
Paraná                 1.699434
Paraíba                1.699266
Pará                   1.698197
Pernambuco             1.698141
Piauí                  1.700189
Rio Grande do Norte    1.699135
Rio Grande do Sul      1.698710
Rio de Janeiro         1.700365
Rondônia               1.703967
Roraima                1.698680
Santa Catarina         1.698933
Sergipe                1.702222
São Paulo              1.699321
Tocantins              1.699969
Name: Altura, dtype: float64
UF com maior média de altura: Rondônia, Altura média: 1.70 cm